.container {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: $tablet-width;
    padding-right: 36px;
    padding-left: 36px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
    margin: 0 auto;
    padding-right: 80px;
    padding-left: 80px;
  }
}
