.burger {
  position: relative;

  width: 100%;
  height: 4px;

  background-color: #ffffff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: #ffffff;
  }

  &::before {
    top: -11px;
  }

  &::after {
    bottom: -11px;
  }
}
