.header {
  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 480px;

    background: #768f99 url("../img/hero-bg-mobile.jpg") no-repeat top center/cover;
  }
}

.header__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
